html
    head
        title Personal Library
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/public/Style/style.css')
    body#style
        //- img#img404(src='/public/Images/pexels-tatiana-2898170.jpg')
        h1#head404 Unfortunately, this page does not exist. 
        div#img404
        div#links404
            a.click#home404(href='/') Return Home
            a.click(href='/api/books') View all books

